:root {
  --clr-dark-100: hsl(230, 17%, 14%);
  --clr-dark-110: hsl(232, 19%, 15%);
  --clr-dark-120: hsl(228, 28%, 20%);
  --clr-dark-130: hsl(228, 34%, 66%);
  --clr-dark-140: hsl(0, 0%, 100%);
  --toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.wrapper {
  background: var(--clr-dark-100);
}
/*----------Header Section----------------*/
.header__intro h1 {
  color: var(--clr-dark-140);
}
.header__intro::after {
  border-color: var(--clr-dark-130);
}
.header__intro p {
  color: var(--clr-dark-130);
}

/*------------Theme Switcher Section--------*/

.header__switch h2 {
  color: var(--clr-dark-130);
}

label.switch {
  background: var(--toggle-dark);
}

span.slider-circle {
  background: var(--clr-dark-120);
}

/*----------------Card Top *----------------------*/
.card {
  background: var(--clr-dark-110);
}

.card__user {
  color: var(--clr-dark-130);
}
.card h3 {
  color: var(--clr-dark-140);
}
.card__text {
  color: var(--clr-dark-130);
}
