:root {
  --clr-light-100: hsl(0, 0%, 100%);
  --clr-light-110: hsl(225, 100%, 98%);
  --clr-light-120: hsl(227, 47%, 96%);
  --clr-light-130: hsl(228, 12%, 44%);
  --clr-light-140: hsl(230, 17%, 14%);

  --toggle-light: hsl(230, 22%, 74%);
}
/*----------Header Section----------------*/
.wrapper {
  background: var(--clr-light-100);
}

.header__intro h1 {
  color: var(--clr-light-140);
}
.header__intro::after {
  border-color: var(--clr-light-130);
}

.header__intro p {
  color: var(--clr-light-130);
}

/*------------Theme Switcher Section--------*/

.header__switch h2 {
  color: var(--clr-light-130);
}

label.switch {
  background: var(--toggle-light);
}

span.slider-circle {
  background: var(--clr-light-120);
}
/*----------------Card Top *----------------------*/
.card {
  background: var(--clr-light-110);
}

.card__user {
  color: var(--clr-light-130);
}
.card h3 {
  color: var(--clr-light-140);
}
.card__text {
  color: var(--clr-light-130);
}
