@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --clr-primary-100: hsl(163, 72%, 41%);
  --clr-primary-110: hsl(356, 69%, 56%);

  --icon-fb: hsl(208, 92%, 53%);
  --icon-tw: hsl(203, 89%, 53%);
  --icon-in: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
  --icon-yt: hsl(348, 97%, 39%);

  /* Toggle theme */
  --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --toggle-light: hsl(230, 22%, 74%);

  --fs-size-2xs: 12px;
  --fs-size-xs: 13px;
  --fs-size-sm: 14px;
  --fs-size-md: 22px;
  --fs-size-lg: 54px;

  --fw-weight-regular: 400;
  --fw-weight-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
