@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --clr-primary-100: hsl(163, 72%, 41%);
  --clr-primary-110: hsl(356, 69%, 56%);

  --icon-fb: hsl(208, 92%, 53%);
  --icon-tw: hsl(203, 89%, 53%);
  --icon-in: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --icon-yt: hsl(348, 97%, 39%);

  /* Toggle theme */
  --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --toggle-light: hsl(230, 22%, 74%);

  --fs-size-2xs: 12px;
  --fs-size-xs: 13px;
  --fs-size-sm: 14px;
  --fs-size-md: 22px;
  --fs-size-lg: 32px;
  --fs-size-xl: 54px;

  --fw-weight-regular: 400;
  --fw-weight-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: var(--fs-size-sm);
  text-align: center;
  font-weight: var(--fw-weight-regular);
}
a {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dashed red;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.wrapper {
  padding: 2.5rem 1.5rem;
  transition: 0.5s;
  max-width: 1920px;
  margin: auto;
  min-height: 100vh;
}

/*-------------Header---------------------*/
.header__intro {
  text-align: left;
  position: relative;
}
.header__intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1.5rem);
  height: 100%;
  width: 100%;
  border-bottom: 1px solid;
}

.header__intro h1 {
  font-size: var(--fs-size-md);
  font-weight: var(--fw-weight-bold);
  margin: 0.4rem 0;
}

.header__intro p {
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-bold);
}

/*------------Theme Switcher Section--------*/
.header__switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.header__switch h2 {
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-bold);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

label.switch {
  border-radius: 1rem;
  width: 3rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  transition: 0.4s;
  cursor: pointer;
}

span.slider-circle {
  --cir-size: 18px;
  display: block;
  width: var(--cir-size);
  height: var(--cir-size);
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(1.375rem);
}

input:checked + span.slider-circle {
  transform: translateX(0);
}
/*----------------Card Top *----------------------*/
.card-top {
  margin-top: 3rem;
}
.card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.card-fb,
.card-tw,
.card-yt,
.card-in {
  border-top: 5px solid;
}

.card-fb {
  border-color: var(--icon-fb);
}

.card-tw {
  border-color: var(--icon-tw);
}
.card-in {
  position: relative;
  border: transparent;
}
.card-in::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: var(--icon-in);
}
.card-yt {
  border-color: var(--icon-yt);
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card__user {
  font-size: var(--fs-size-2xs);
  font-weight: var(--fw-weight-bold);
}

.card__body {
  margin-top: 1.5rem;
}

.card__text {
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.card h3 {
  font-size: var(--fs-size-xl);
  font-weight: var(--fw-weight-bold);
}

.card__text {
  font-size: var(--fs-size-xs);
  letter-spacing: 4.45px;
}

.card__footer {
  margin-top: 1.5rem;
}

.card__footer p {
  font-size: var(--fs-size-xs);
  font-weight: var(--fw-weight-bold);
}

.card p.up {
  color: var(--clr-primary-100);
}

.card p.down {
  color: var(--clr-primary-110);
}

/*---------------Container Section Heading------------*/
.container h2 {
  text-align: left;
  font-size: var(--fs-size-md);
  letter-spacing: 1.17px;
  padding: 1.5rem 0;
}

/*----------------------Card Bottom ---------------------------*/
.card__stat,
.card__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__score {
  margin-top: 1.5rem;
}

.card__detail {
  font-size: var(--fs-size-sm);
  font-weight: var(--fw-weight-bold);
}
.card__fig {
  font-size: var(--fs-size-lg);
  font-weight: var(--fw-weight-bold);
}
.card__vote {
  font-size: var(--fs-size-2xs);
  font-weight: var(--fw-weight-bold);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*--------------Media Query----------------*/
@media screen and (min-width: 600px) {
  .card-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .header__intro h1 {
    font-size: 1.75rem;
  }
  .card-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .card-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
