@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --clr-primary-100: hsl(163, 72%, 41%);
  --clr-primary-110: hsl(356, 69%, 56%);

  --icon-fb: hsl(208, 92%, 53%);
  --icon-tw: hsl(203, 89%, 53%);
  --icon-in: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
  --icon-yt: hsl(348, 97%, 39%);

  /* Toggle theme */
  --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --toggle-light: hsl(230, 22%, 74%);

  --fs-size-2xs: 12px;
  --fs-size-xs: 13px;
  --fs-size-sm: 14px;
  --fs-size-md: 22px;
  --fs-size-lg: 54px;

  --fw-weight-regular: 400;
  --fw-weight-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: var(--fs-size-sm);
  text-align: center;
  font-weight: var(--fw-weight-regular);
}

.container {
  padding: 2.5rem 1.5rem;
}
/*-------------Header---------------------*/
.card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.card-fb,
.card-tw,
.card-yt,
.card-in {
  border-top: 5px solid;
}

.card-fb {
  border-color: var(--icon-fb);
}

.card-tw {
  border-color: var(--icon-tw);
}
.card-in {
  border-image: var(--icon-in);
}
.card-yt {
  border-color: var(--icon-yt);
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card__user {
  font-size: var(--fs-size-2xs);
  font-weight: var(--fw-weight-bold);
}

.card__body {
  margin-top: 1.5rem;
}

.card__text {
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.card h2 {
  font-size: var(--fs-size-lg);
  font-weight: var(--fw-weight-bold);
}

.card__text {
  font-size: var(--fs-size-xs);
  letter-spacing: 4.45px;
}

.card__footer {
  margin-top: 1.5rem;
}

.card__footer p {
  font-size: var(--fs-size-xs);
  font-weight: var(--fw-weight-bold);
}

.card p.up {
  color: var(--clr-primary-100);
}

.card p.down {
  color: var(--clr-primary-110);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
